//folder
.file_list{
	height:480px;
}
.file_list.empty{
	background: url(../img/file_list_bg.png) no-repeat center center;
}
.file_item{
	height:44px;
	padding-left:15px;
	padding-top:6px;
	line-height:44px;
	color:#66757f;
	border-bottom:1px solid #e1e8ed;
}
.file_item.thumb{
	position: relative;
	display: inline-block;
	width: 180px;
	height: 180px;
	border-radius: 5px;
	margin: 40px 0 0 40px;
	background:#ebeff0 url(../img/folder.png) no-repeat center 38px;
}
.file_item.thumb:hover{
	width: 178px;
	height: 178px;
	background-color: #fff;
	border: 1px solid #55addc;
}
.file_item.thumb:hover .checkbox{
	display: block;
}
.file_item.thumb span{
	position: absolute;
	width: 100%;
	text-align: center;
	left:0;
	bottom: 25px;
	color:#95acbe;
	display: block;
}
.file_item.thumb input{
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	left:0;
	bottom: 25px;
	color:#95acbe;
	margin: 0;
	padding: 0;
	height: 20px;
	display: none;
}
.file_item .checkbox{
	margin-top:10px;
	margin-right:20px;
	border-color: #55addc;
	display: none;
}
.file_item.item span{
	padding-left: 34px;
	background-position:-20px -300px;
	margin-left:20px;
	width: 203px;
}
.file_ico{
	width:24px;
	height:21px;
	background-position:0 -54px;
	margin-right:10px;
	margin-top:10px;
}
.ico_wrap{
	height:17px;
	margin-top:13px;
}
.ico_wrap a{
	margin-right:20px;
}
.item2{
	background-color:#fff;
}
.date{
	margin-right:20px;
}
.time_ico2{
	width:16px;
	height:16px;
	top:14px;
	right:188px;
	background-position:-160px 0;
}
.letter_ico2{
	width:16px;
	height:16px;
	top:47px;
	right:188px;
	background-position:-160px -35px;
}
.show_ico2{
	width:16px;
	height:16px;
	top:83px;
	right:188px;
	background-position:-160px -67px;
}