/*reset*/
body,h3{
	margin:0;
}
img{
	vertical-align:top;
	border:none;
}
a{
	text-decoration:none;
	color:#666;
}
ol,ul,li{
	margin:0;
	padding:0;
	list-style:none;
}
/*tool*/
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.ico_bg{
	background:url(../img/ico.png) no-repeat;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.pr{
	position:relative;
}
.pa{
	position:absolute;
}
.of{
	overflow:hidden;
}
/*main*/
body{
	background-color:#6e7db2;
	font-size:14px;
	color:#66757f;
}
.main{
	width:1366px;
	height:662px;
	background-color:#fff;
}
.head{
	height:52px;
	padding:18px 40px 0 28px;
}
.title a{
	padding-left:60px;
	font-size:18px;
	line-height:38px;
	color:#389cd1;
}
.title_bg{
	width:45px;
	height:35px;
	left:0;
	top:0;
}
.head_right{
	width:99px;
	padding-top:2px;
}
.user_info{
	width:53px;
	margin-right:15px;
}
.drop_ico{
	width:10px;
	height:6px;
	top:15px;
	right:0;
	background-position:-240px -40px;
}
.line{
	width:1px;
	height:22px;
	margin-top:5px;
	margin-right:14px;
	background-color:#e0e6e7;
}
.set_ico{
	width:16px;
	height:16px;
	top:10px;
	right:0;
	background-position:0 -97px;
}
.toolbar{
	height:48px;
	padding:10px 20px 0 20px;
	border-top:1px solid #d0d9de;
	border-bottom:1px solid #d0d9de;
	background-color:#ecf0f6;
}
.tool_left a{
	height:36px;
	padding-left:55px;
	padding-right:24px;
	margin-right:10px;
	border:1px solid #666;
	border-radius:4px;
	line-height:36px;
	background-color:#fff;
}
.tool_left a:hover{
	color:#55addc;
	border-color: #55addc;
}
.tool_left .move,.tool_left .name{
	padding-right:21px;
}
.tool_left .creat{
	padding-right:26px;
}
.tool_left .renew{
	width:36px;
	padding:0;
}
.down_ico{
	width:16px;
	height:14px;
	left:21px;
	top:11px;
	background-position:-120px 0;
}
.tool_left a:hover .down_ico,.down_ico:hover{
	background-position:-80px 0;
}
.share_ico{
	width:16px;
	height:15px;
	left:20px;
	top:12px;
	background-position:-120px -35px;
}
.tool_left a:hover .share_ico,.share_ico:hover{
	background-position:-80px -35px;
}
.move_ico,.name_ico{
	width:16px;
	height:16px;
	left:20px;
	top:11px;
	background-position:-120px -67px;
}
.tool_left a:hover .move_ico,.move_ico:hover{
	background-position:-80px -67px;
}
.name_ico{
	background-position:-120px -97px;
}
.tool_left a:hover .name_ico,.name_ico:hover{
	background-position:-80px -97px;
}
.del_ico{
	width:15px;
	height:15px;
	left:21px;
	top:12px;
	background-position:-120px -135px;
}
.tool_left a:hover .del_ico,.del_ico:hover{
	background-position:-80px -135px;
}
.creat_ico{
	width:16px;
	height:14px;
	left:20px;
	top:11px;
	background-position:-120px -168px;
}
.tool_left a:hover .creat_ico{
	background-position:-80px -168px;
}
.renew_ico{
	width:17px;
	height:15px;
	left:10px;
	top:11px;
	background-position:-120px -205px;
}
.tool_left a:hover .renew_ico{
	background-position:-80px -205px;
}
.pause{
	width:38px;
	height:38px;
	background-color:#fff; 
	border-radius:4px;
	margin-right:10px;
}
.pause_ico{
	width:16px;
	height:16px;
	left:11px;
	top:11px;
	background-position:-200px -97px;
}
.pause:hover{
	background-color:#55addc;
}
.pause:hover .pause_ico{
	background-position:-160px -98px;
}
.style{
	width:56px;
	height:47px;
	border:1px solid #55addc;
	border-bottom:none;
	border-radius:4px 4px 0 0;
	background-color:#fff;
	cursor:pointer;
}
.summary_ico{
	width:16px;
	height:16px;
	left:10px;
	top:10px;
	// background-position:-160px -67px;
	background-position:-200px -67px;
}
.style:hover .summary_ico{
	background-position:-160px -67px;
}
.pack_ico{
	width:10px;
	height:6px;
	right:12px;
	top:17px;
	background-position:-240px -58px;
}
.blank_line{
	width:56px;
	height:1px;
	background-color:#fff;
	left:0;
	top:47px;
	z-index:5;
}
.style_menu{
	width:130px;
	height:108px;
	border:1px solid #55addc;
	border-radius:4px 0 4px 4px;
	right:-1px;
	top:47px;
	z-index:3;
	display:none;
}
.style:hover .style_menu{
	display:block;
}
.style_menu a{
	width:90px;
	padding-left:40px;
	font-size:14px;
	line-height:34px;
	color:#66757f;
	background-color:#fff;
}
.time_sort{
	padding-top:2px;
}
.letter_sort{
	padding-top:3px;
}
.show{
	padding-top:1px;
}
.style_menu a:hover,.style_menu .letter_sort{
	background-color:#e1e8ed;
}
.time_ico{
	width:16px;
	height:16px;
	left:10px;
	top:14px;
	background-position:-200px 0;
}
.letter_ico{
	width:16px;
	height:16px;
	left:10px;
	top:7px;
	background-position:-200px -35px;
}
.show_ico{
	width:16px;
	height:16px;
	left:10px;
	top:10px;
	background-position:-200px -67px;
}

/*文件树*/
.file_tree{
	width:298px;
	height:530px;
	border-right:2px solid #e1e8ed;
	color:#889293;
}
.mini_cloud{
	padding-top:9px;
	font-size:16px;
	line-height:36px;
}
.mini_cloud li span{
	display: block;
	padding-left: 44px;
	background:url(../img/ico.png) no-repeat;
	-webkit-user-select: none;
	cursor: default;
}
.mini_cloud li span.open{
	background-position:0px -225px;
}
.mini_cloud li span.close{
	background-position:0px -270px;
}

.body_right{
	width:1066px;
	height:530px;
	background-color:#f5f8fa;
}
.crumbs{
	height:44px;
	padding-left:15px;
	padding-top:4px;
	border-bottom:2px solid #e1e8ed;
	background-color:#fff;
	line-height:44px;
}
.crumbs_wrap a{
	color:#000;
	margin-right:15px;
}
.checkbox{
	width:16px;
	height:16px;
	border:1px solid #d0d9de;
	border-radius:1px;
	margin-top:11px;
	margin-right:40px;
}
.next{
	width:11px;
	height:20px;
	background-position:-240px -76px;
	margin-top:12px;
	margin-right:15px;
}
.crumbs .last_crumbs{
	padding:0 20px;
	color:#55addc;
}
.bottom_line{
	width:100%;
	height:2px;
	background-color:#55addc;
	left:0;
	top:44px;
}

.file_list{
	height:480px;
}
.file_list.empty{
	background: url(../img/file_list_bg.png) no-repeat center center;
}
.file_item{
	height:44px;
	padding-left:15px;
	padding-top:6px;
	line-height:44px;
	color:#66757f;
	border-bottom:1px solid #e1e8ed;
}
.file_item.thumb{
	position: relative;
	display: inline-block;
	width: 180px;
	height: 180px;
	border-radius: 5px;
	margin: 40px 0 0 40px;
	background:#fff url(../img/folder.png) no-repeat center 38px;
}
.file_item.thumb span{
	position: absolute;
	width: 100%;
	text-align: center;
	left:0;
	bottom: 25px;
	color:#95acbe;
}
.file_item .checkbox{
	margin-top:10px;
	margin-right:20px;
}
.file_item.item span{
	padding-left: 34px;
	background-position:-20px -300px;
	margin-left:20px;
	width: 203px;
}
.file_ico{
	width:24px;
	height:21px;
	background-position:0 -54px;
	margin-right:10px;
	margin-top:10px;
}
.ico_wrap{
	height:17px;
	margin-top:13px;
}
.ico_wrap a{
	margin-right:20px;
}
.item2{
	background-color:#fff;
}
.date{
	margin-right:20px;
}
.time_ico2{
	width:16px;
	height:16px;
	top:14px;
	right:188px;
	background-position:-160px 0;
}
.letter_ico2{
	width:16px;
	height:16px;
	top:47px;
	right:188px;
	background-position:-160px -35px;
}
.show_ico2{
	width:16px;
	height:16px;
	top:83px;
	right:188px;
	background-position:-160px -67px;
}
