/*文件树*/
.file-tree{
	width:230px;
	height:520px;
	color:#889293;
	white-space: nowrap;
	overflow: auto;
	padding-top:10px;
	font-size:16px;
	line-height:36px;	
}

.file-tree li span{
	display: block;
	position:relative;
	width: 100%;
	box-sizing: border-box;
	padding-left: 30px;
	-webkit-user-select: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;		
	cursor: default;
}
.file-tree li span i{
	display:inline-block;
	width: 40px;
	height: 16px;
	vertical-align:top;
	margin-top:12px;
}
.file-tree li span.open i{
	background-position:-910px -926px;
}
.file-tree li span.close i{
	background-position:-948px -926px;
}
.file-tree li span.active{
	background-color: #eee;
}
.file-tree li span:hover{
	background-color: #eee;
}